

.encabezado {
      
    nav {       
        &.navbar {
        background-color: #f8f9fa;           
        
            .container-fluid {
                .navbar-brand  {   
                    img {
                        max-width: 100%; 
                        height: auto; 
                    }
                }
              .collapse {
                    &.navbar-collapse {
                        .navbar-nav {
                            .nav-link {
                                color: red;
                            
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}