
main{   
    div{
        h2{
            color: #C4847A;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px; 
            margin-top: 50px;    
        }  
    }

    section{ 
        
        div{
            h1{              
               
                color: #fcfafa;
                font-family: Arial, Helvetica, sans-serif; 
                font-size: 62px;                
            }

           

        }
    }
      
   
    .parrafo-index{
        color: #959595;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;  
        margin: 20px auto; 
        padding: 10px;
        max-width: 900px;
    }
    

}
