h2{
    color: #C4847A;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    margin-top: 30px;  
}

.grid_conteiner {
    display: flex;
    justify-content: space-between;  
    width: 100%;  
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.grid_item1,
.grid_item2,
.grid_item3,
.grid_item4 {
    text-align: center; 
    margin: 0;
    width: 25%;  
    box-sizing: border-box; 
}

/* Mobile */
@media (max-width: 480px) {
 
    h3{
        font-size: 30px; 
        margin-top: 20px;  
        width: 100%;   
    }

    .grid_conteiner {
        display: block; 
        margin: 0px;  
        width: 100%; 
    }

    .grid_item1,
    .grid_item2,
    .grid_item3,
    .grid_item4 {
        text-align: justify;
        margin: 0;
        width: 390px; 
        padding: 0; 
    }
}