h2{
    color: #C4847A;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    margin-top: 50px;     
}

h3{
       margin-top: 50px;     
}

.fernanda{
    display: flex;
    color: #959595;
    background-color: #F2F2F2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 20px; 
    margin: 0%;
  
        .cv-fernanda{
         margin: 50px;
        }
}

.carolina{
    display: flex;
    color: #959595;
    background-color: #EBE8E8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 20px; 
    margin: 0%;
  
       .cv-carolina{
         margin: 50px;
        }

} 

.ariel{
    display: flex;
    color: #959595;
    background-color: #D9D5D5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 20px; 
    margin: 0%;
  
   .cv-ariel{
     margin: 50px;
    }
}

/* Media query */

/* Si bien puedo hacer con display block que pase de horizontal a vertical no logro que quede adaptado a varias pantallas mobile */

@media (max-width: 768px) {
    h2{
        font-size: 30px; 
        margin-top: 30px;     
    }

    .fernanda {
        display: block;
            gap: 50%;
        font-size:15px;
    }

    .carolina {
        display: block;
        gap: 50%;
        font-size:18px;
    }

    .ariel {
        display: block;
        gap: 50%;
        font-size:18px;
    }

    h3{
        margin-top: 90px;  
        font-size: 33px;   
 }
}


