h2{
    color: #C4847A;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    margin-top: 30px;     
}

h3{
    margin-top: 30px;  
    font-size: 30px;   
} 

p{
    margin: 0px;
} 


.fernanda{
    display: flex;
    color: #959595;
    justify-content: space-around;
    background-color: #F2F2F2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px; 
    margin: 0%;
  
        .cv-fernanda{
         margin: 10px;
        }
}

.carolina{
    display: flex;
    color: #959595;
    background-color: #EBE8E8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px; 
    margin: 0%;
  
       .cv-carolina{
         margin: 10px;
        }

} 

.ariel{
    display: flex;
    color: #959595;
    background-color: #D9D5D5;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px; 
    margin: 0%;
  
   .cv-ariel{
     margin: 10px;
    }
}

/* Media query */
@media (max-width: 480px) {
    h2{
        font-size: 30x; 
        margin-top: 30px;     
    }

    .fernanda {
        display: block;
        gap: 10%;
        font-size:35%;
    }

    .carolina {
        display: block;
        gap: 10%;
        font: size 35px
    }

    .ariel {
        display: block;
        gap: 10%;
        font-size:35px;
    }

}
