<<<<<<< HEAD


main {   
    padding: 20px;
    background-color: #f9f9f9;
    

    .oportunidades {
        color: #C4847A;
        text-align: center;
        font-size: 36px;
        margin-top: 30px;
    }

    form {
        margin: 40px auto; 
        max-width: 600px; 
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .mb-5 {
            margin-bottom: 30px;
            

            label {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }

     .conteiner-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            background-color: #383332;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #C4847A;
            }
        }
    }

    .icono-wpp {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        img {
            width: 48px;
        }
    }
}

@media (max-width: 768px) {
    .oportunidades {
        font-size: 28px; 
    }

    form {
        padding: 15px;
    }

    .mb-5 {
        margin-bottom: 20px; 
    }

    .conteiner-btn {
        button {
            font-size: 16px;
            padding: 10px 20px; 
        }
    }

    .icono-wpp {
        img {
            width: 40px; 
        }
    }
}

@media (max-width: 780px) {
    .oportunidades {
        font-size: 24px; 
    }

    form {
        max-width: 90%; 
    }

    .mb-5 {
        margin-bottom: 15px; 
    }

    .conteiner-btn {
        button {
            font-size: 14px; 
            padding: 8px 15px; 
        }
    }
}
=======


main {   
    padding: 20px;
    background-color: #f9f9f9;
    

    .oportunidades {
        color: #C4847A;
        text-align: center;
        font-size: 36px;
        margin-top: 30px;
    }

    form {
        margin: 40px auto; 
        max-width: 600px; 
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .mb-5 {
            margin-bottom: 30px;
            

            label {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }

     .conteiner-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        button {
            background-color: #383332;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #C4847A;
            }
        }
    }

    .icono-wpp {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        img {
            width: 48px;
        }
    }
}

@media (max-width: 768px) {
    .oportunidades {
        font-size: 28px; 
    }

    form {
        padding: 15px;
    }

    .mb-5 {
        margin-bottom: 20px; 
    }

    .conteiner-btn {
        button {
            font-size: 16px;
            padding: 10px 20px; 
        }
    }

    .icono-wpp {
        img {
            width: 40px; 
        }
    }
}

@media (max-width: 780px) {
    .oportunidades {
        font-size: 24px; 
    }

    form {
        max-width: 90%; 
    }

    .mb-5 {
        margin-bottom: 15px; 
    }

    .conteiner-btn {
        button {
            font-size: 14px; 
            padding: 8px 15px; 
        }
    }
}
>>>>>>> 866bf89037658eeb400f37417cb9794fc426e05f
