header{
   
    .encabezado{
        
        display: flex; 
        width: 100%; 
        background-color: white;  
        align-items: center;


        
        .container-hamburguesa img{   
            width: 35px; 
            margin-left: 20px;
            
        }

        img{
            width: 300px;
            margin-right: 20px;
        }   

       
    
    nav{        
        text-align: justify;
        background-color: white;
        ul{
            display: flex;
            list-style: none;
        
            li{
                &:hover{
                 font-weight: bold
                }
                margin: 20px;             
                a{
                 color: #959595;
                 text-decoration: none;  
                 
                 
                }  
            }
        }

        
            
              
        
    }


}

    }
   
   
    
    
/* Media query */
@media(max-width: 600px) {
    header nav {
        display: none;
    }

  
   

}